body{
    background-color: #F1F3F4;
    width: 100%;
    overflow-x: hidden;
}
/* #myChart{
    width: 500px !important;
    height: 500px !important;
} */

#iconsi{
    width: 50px !important;
    height: 50px !important;
}
#sosmed {
    text-decoration: none !important;
}
.dropdown-item:hover{
    color: black !important;
}
.dropdown-item:scope{
    color: black !important;
}
#logo{
    padding: 0;
    margin: 0;
    
}
#blog{ 
    width: 13rem;
    margin-left: 2rem;
    border-left: 5px solid #BAD7DF;
    margin-right: 3rem;
  
}
#foot{
    background-color: rgba(28, 41, 54, 0.9);
    max-width: 100%;
}
.mag-btn{
    background-color: #4cb5f5;
    color: white;
}
#logo p{
    margin-left: -0.5rem;
    float: inline-start;
    margin-top: -0.3rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    font-family: 'ABeeZee';
}


#input{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #f2f4f5;
    text-align: center;
    font-size: 14px;
    color: #a6a6a6;
    margin-bottom: 10px;
    margin-left: 1rem;
}
#buton{
    width: 100%;
    height: 50px;
}
@media all and (min-width: 992px){#isi img {
    width:250px;
    height: 300px;
}
#kirii{
    margin-left: 2rem !important;
}
#frame{
    width: 705px;
    height: 400px;
}
#logo p{
    color: #FFFFFF;
    line-height: 2rem;
    font-family: 'ABeeZee';
    margin-top: 0.2rem;
}
#blog{
    padding: 5px 15px;
    border-left: 5px solid #BAD7DF;
    margin-left: 0.8rem;
    margin-right: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 20rem;
}
#apa{
    width: 20px;
}

nav{

}

/*@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}*/	
#card{
    border: 0;
}
#cardkiri{
    margin-left: 5rem;
  
}


#link{
    width: 1000px;
    margin-left: 15rem;
}
#bawah{
    width: 300px;
    border-left: 5px solid #BAD7DF;
    margin-right: 1rem;
    padding-right: 1rem;
    padding-left: 0.5rem;
    margin-left: 3rem;
}
#terkait ul{
    list-style: none;
}
#terkait li{
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
    padding-right: 0;
    margin-left: 1rem;
}
#kanan{
    margin-right: 2rem;
    margin-right: 2rem
}
#kiri{
    margin-left: 2rem;
}
#tulisan{
    border-left: 5px solid #BAD7DF;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: 500px;
    margin-left: 3rem;
}
#vidio li{
    list-style: none;
    margin-bottom: 1rem;
    display:block;
    line-height: 0.5rem;
}
#vidio ul{
    margin-left: -150px;
}

#kaki{
    padding: 5px 15px;
    border-left: 5px solid #BAD7DF;
    margin-left: 0.2rem;
    margin-right: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: white;
    font-family: 'Gupter';
    font-style: normal;
}
#tul p{
    width: 511px;
    height: 60px;
    left: 42px;
    top: 2893px;
    color: white;
}}
element {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
#main_nav a{
    color: white;
}
#teks{
    text-transform:uppercase;
}


.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
@media all and (min-width: 992px) {
   
   
	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.dropdown-menu .submenu-left{ 
		right:100%; left:auto;
	}

	.dropdown-menu > li:hover{ background-color: #f1f1f1; color: white;}
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    #posting{
       
        margin-left: 1rem;
        width: 20rem;
        padding-bottom: -5rem;
    }
    #posting p{
        margin-left: 2rem !important;
    }
    #posting i{
    
        font-size:7px;
        margin-left: 2rem;
    }
    #iconi{
        margin-top: -1.5rem;
        
    }
    #artikels p{
        margin-right: 0.5rem;
        font-size: x-small;
        margin-top: 2rem;
    }
    #artikels{
        padding-bottom: 2rem;
    }
    #teks{
        margin-left: 1px !important    ;
        margin-right: 1rem !important;
        font-size: large;
    }
    #vidio li{
        list-style: none;
        margin-bottom: 1rem;
        display:block;
        line-height: 0.5rem;
    }
    .bton{
        width: 40px !important;
        height: 40px !important;
    }
    #kanan{
        margin-left: 1rem;
    width: 20rem !important;
    }
    #kanan img{
        width: 5rem;
        height: 5rem;
    }
    #tulisan{
        width: 13rem;
        margin-left: 2rem;
        border-left: 5px solid #BAD7DF;
        margin-right: 3rem;
      
    }
    #ini{
        margin-left: -4rem !important;
    }
    #gal{
      display: flex;
      list-style: none;
      
    }
    #gal li{
      width: auto;
      float: left;
    }
    #table img{
        height: 20rem !important;
    }
    #populer img{
        margin-left: 5rem;
        width: 10rem !important;

    }
    #populer{
        margin-top: -2rem !important;
    }
    #populer h5{
        margin-left: 5rem;
        font-size:large;
        margin-top: -2rem;
    }
    #isi img{
        margin-left: 2rem;
        width: 15rem !important;
        height: 15rem !important;
    }
    #terkait ul{
        list-style: none;
    }
    #terkait img{
       width: 50px;
       margin-bottom: 0.5rem;
    }
    #kirii{
        margin-bottom: 1rem; 
        margin-left: 1rem;
        width: 20rem;
    }
    #kirii img{}
    #kanann{
        margin-bottom: 1rem; 
        margin-left: 1rem;
        width: 20rem;
   
    }
    #frame{
        width: 15rem;
    }
    #sosmed{
        margin-left: 1rem;
        width: 14rem !important;
    }
    #input{
        margin-left: 3rem !important;
       
        width: 10rem;
    }
    #buton{
        margin-left: 3rem !important;
        width: 10rem;
    }
    .row{
        --bs-gutter-x: 0 !important;
    }
    #semua{

    }
    #framee{
        width: 10rem;
        display: none;
    }
    #mid{ margin-left: 1rem;
        width: 20rem;
    }
    .card p{
        margin-top: 0.5rem;
        font-size:smaller;
    }
.card img{ 
    padding-bottom: 1rem;
    margin-left: 0.5rem;
    width: 180px;
    height: 150px;
}

.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
}

}	
.social-followers-info a.facebook-fans {
    background-color: #4b6cd0;
}

.social-followers-info a {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #4cb5f5;
    margin-bottom: 10px;
    padding: 0 30px;
    font-weight: 600;
    line-height: 50px;
    
}
.social-followers-info {
    position: relative;
    z-index: 1;
}
.social-followers-info a i {
    margin-right: 10px;
}
.social-followers-info a span {
    font-size: 14px;
}
ba-facebook-f:before, .ba-facebook:before {
    content: "\f09a";
}
.social-followers-info a.youtube-subscribers {
    background-color: #db5c3a;
}
.fa-youtube:before {
    content: "\f167";
}
.fa-instagram:before {
    content: "\f16d";
}
.social-followers-info a.google-followers {
    background-color: #de3939;
}

.social-followers-info a:last-child {
    margin-bottom: 0;
}
a:hover { text-decoration: none; }


a:active { color: white; }
#populer{
  
}
#copy{
    max-width: 100%;
}
.arrows
 {  width: 48px;
   height: 48px;
   border-color: #000;
   position: absolute;
   top: 50%;
   margin-top: -31px;
}
.prev
  { border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(45deg);
   left: 10px;
}
   
.next
  { border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(-135deg);
   right: 10px;}
   .bton{
    background-color: #000;
   }
 

.media img{
     
   width: 60px;
   height: 60px;
}


.reply a {
   
   text-decoration: none;
}
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}

.be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #858586;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}



.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #3b3b3b;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #7b7b7b;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}












